<header>
    {{#with navigation}}
    <div class="card">
        <nav class="nav row p-2">
            <div class="nav-item col-6 ps-4">
                <h3>{{Logo}}</h3>
            </div>
            {{#each links}}
            <div class="nav-item col-2 p-0">
                <a class="nav-link" href={{href}}>{{text}}</a>
            </div>
            {{/each}}
        </nav>
    </div>
    {{/with}}
</header>
<main>
    {{#with newsBlock}}
    <section class="mb-5">
        <h2 class="text-center mb-3">{{title}}</h2>
        <div class="row g-3">
            {{#each cards}}
            <div class="col-3">
                <div class="card text-bg-dark">
                    <div class="card-header">
                        <div>
                            {{title}}
                            {{#if idNew}}
                            <span class="badge text-bg-success rounded-pill">Нова</span>
                            {{/if}}
                            {{#if isTop}}
                            <span class="badge text-bg-danger rounded-pill">Топ</span>
                            {{/if}}
                        </div>
                    </div>
                    <div class="card-body">
                        <div>{{description}}</div>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </section>
    {{/with}}

    <hr>

    {{#with goodsBlock}}
    <section class="mt-5">
        <div class="nav nav-tabs">
            {{#each tabs}}
            <div class="nav-item">
                <button {{#if isDisabled}} class="btn btn-link nav-link disabled" {{/if}} {{#if isActive}}
                    class="btn btn-link nav-link active" {{else}} class="btn btn-link nav-link" {{/if}}>
                    {{text}}
                </button>
            </div>
            {{/each}}
        </div>

        <div class="row g-0 mt-5">
            {{#each cards}}
            <div class="col-4">
                <div class="card mx-2 my-3">
                    <img class="card-img-top" src={{image}} alt="">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{title}}
                            {{#if isHot}}
                            <span class="badge text-uppercase text-bg-warning text-light rounded-pill">Hot!</span>
                            {{/if}}
                            {{#if idNew}}
                            <span class="badge text-bg-primary rounded-pill">Нове</span>
                            {{/if}}
                        </h5>
                        <div>{{description}}</div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
    {{/with}}

    <hr>

    {{#with subscribe}}
    <section class="my-5">
        <div class="card text-bg-dark">
            <div class="row">
                <div class="col-6 pt-2 ps-4">
                    <h2>{{header}}</h2>
                    <p>{{description}}</p>
                </div>
                <div class="col-6 text-end pt-4 pe-4">
                    {{#each buttons}}
                    <a href={{link}} class="btn btn-primary">{{text}}</a>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
    {{/with}}

    <hr>

    {{#with service}}
    <section class="my-5">
        <div class="card text-bg-success text-center">
            <div class="card-body">
                <h2>{{title}}</h2>
                <p>{{description}}</p>
                {{#each buttons}}
                <a href={{link}} class="btn btn-primary">{{text}}</a>
                {{/each}}
            </div>
        </div>
    </section>
    {{/with}}

    <hr>
</main>

<footer>
    {{#each footer}}
    <div class="row my-3">
        {{#each this}}
        <div class="col-3">
            <a class="btn btn-link nav-link text-primary" href={{link}}>{{text}}</a>
        </div>

        {{/each}}
    </div>
    {{/each}}
</footer>