<header>
    {{#with navigation}}
    <nav>
        <div>
            {{#each links}}
            <a href={{href}} class="btn btn-link">{{text}}</a>
            {{/each}}
            {{#with button}}
            <a class="btn btn-primary" href={{href}}>{{text}}</a>
            {{/with}}

        </div>
    </nav>
    <hr>
    <br>
    {{/with}}
    {{#with header}}
    <div>
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        {{#with button}}
        <a class="btn btn-primary" href={{link}}>{{text}}</a>
        {{/with}}
    </div>
    {{/with}}
    <br>
    <hr>
</header>
<main>
    {{#with city}}
    <section class="row g-4">

        <h2 class="col-12">{{title}}</h2>

        {{#each cards}}
        <div class="col-6">
            <div class="card">

                {{#with picture}}
                <img class="card-img-top" src={{src}} alt={{alt}}>
                {{/with}}

                <div class="card-body">
                    <h6 class="card-title">{{title}}</h6>

                    <p>{{description}}</p>

                    {{#with button}}
                    <a class="btn btn-primary" href={{href}}>{{text}}</a>
                    {{/with}}
                </div>
            </div>
        </div>
        {{/each}}

    </section>
    {{/with}}
    <br>
    <hr>
    <br>

    {{#with winner}}
    <section>
        <h2>{{title}}</h2>
        {{#with table}}
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    {{#each head}}
                    <th>{{this}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each user}}
                <tr>
                    <th>{{place}}</th>
                    <td>{{name}}</td>
                    <td>{{surname}}</td>
                    <td>{{nickname}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/with}}

    </section>
    {{/with}}

    <br>
    <hr>
    <br>

    {{#with gallery}}
    <section class="row g-2">
        <h2 class="col-12">{{title}}</h2>
        {{#each cards}}
        <div class="col-4">
            <div class="card">
                <div class="card-header">{{name}}</div>
                <ul class="list-group">
                    {{#each items}}
                    <li class="list-group-item">{{this}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        {{/each}}
    </section>
    {{/with}}

    <br>
    <hr>
    <br>

    {{#with relaxion}}
    <section class="row g-4">
        <div class="display-3 col-12">{{title}}</div>
        {{#each cards}}
        <div class="col-5">
            <div class="card text-bg-secondary">
                <div class="card-header">{{header}}</div>
                <div class="card-body">
                    <h6 class="card-title">{{title}}</h6>
                    <p>{{description}}</p>
                </div>
            </div>

        </div>
        {{/each}}
    </section>
    {{/with}}

    <br>
    <hr>
    <br>

    {{#with rest}}
    <section class="row">
        {{#each cards}}
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header">{{header}}</div>
                <div class="card-body">
                    <h6 class="card-title">{{title}}</h6>
                    <p>{{description}}</p>
                    <button class="btn btn-primary">{{button}}</button>
                </div>
                <div class="card-footer">{{footer}}</div>
            </div>
        </div>
        {{/each}}
    </section>
    {{/with}}

    <br>
    <hr>

    {{#with proposition}}
    <section class="row g-4">
        <div class="display-2 col-12">{{title}}</div>
        {{#each card}}
        <div class="col-5">
            <div class="card text-bg-warning text-light">
                <div class="card-header">{{header}}</div>
                <div class="card-body">
                    <h6>{{title}}</h6>
                    <div>{{description}}</div>
                </div>
            </div>
        </div>
        {{/each}}
    </section>
    {{/with}}

    <br>
    <hr>
    <br>

    {{#with footer}}
    <section class="row">
        <div class="col-12">
            <h5>{{title}}</h5>
        </div>
        <div class="col-9">
            <div class="row g-3">
                <div class="col-4">
                    {{#each navigation}}
                    {{> button-task31}}
                    {{/each}}
                </div>
                <div class="col-4">
                    {{#each socialMedia}}
                    {{> button-task31 dark='true'}}
                    {{/each}}
                </div>
                <div class="col-4">
                    {{#each partners}}
                    {{> button-task31 info='true'}}
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
    {{/with}}

</main>