{{#if href}}
<div>
    <a class="btn btn-link" href={{href}}>{{text}}</a>
</div>
<br>
{{/if}}

{{#if dark}}
<div>
    <a class="btn btn-outline-dark" href={{link}}>{{name}}</a>
</div>
<br>
{{/if}}

{{#if info}}
<div>
    <a class="btn btn-outline-info" href={{link}}>{{name}}</a>
</div>
<br>
{{/if}}