<ul>

    {{#if brand}}
    <li>Brand: {{brand}}</li>
    {{/if}}

    {{#if model}}
    <li>Model: {{model}}</li>
    {{/if}}

    {{#if speed}}
    <li>Speed: {{speed}}</li>
    {{/if}}

    {{#if cores}}
    <li>Cores: {{cores}}</li>
    {{/if}}

    {{#if cache}}
    <li>Cache: {{cache}}</li>
    {{/if}}

    {{#if type}}
    <li>Type: {{type}}</li>
    {{/if}}

    {{#if size}}
    <li>Size: {{size}}</li>
    {{/if}}

    {{#if Speed}}
    <li>Speed: {{speed}}</li>
    {{/if}}

    {{#if resolution}}
    <li>Resolution: {{resolution}}</li>
    {{/if}}

    {{#if technology}}
    <li>Technology: {{technology}}</li>
    {{/if}}

    {{#if color_space}}
    <li>Color_space: {{color_space}}</li>
    {{/if}}

    {{#if brightness}}
    <li>Brightness: {{brightness}}</li>
    {{/if}}

    {{#if refresh_rate}}
    <li>Refresh_rate: {{refresh_rate}}</li>
    {{/if}}

    {{#if memory}}
    <li>Memory: {{memory}}</li>
    {{/if}}

    {{#if count}}
    <li>Count: {{count}}</li>
    {{/if}}

    {{#if capacity}}
    <li>Capacity: {{capacity}}</li>
    {{/if}}

    {{#if life}}
    <li>Life: {{life}}</li>
    {{/if}}

    {{#if weight}}
    <li>Weight: {{weight}}</li>
    {{/if}}

    {{#if height}}
    <li>Height: {{height}}</li>
    {{/if}}

    {{#if width}}
    <li>Width: {{width}}</li>
    {{/if}}

    {{#if depth}}
    <li>Depth: {{depth}}</li>
    {{/if}}

    {{#if price}}
    <li>Price: {{price}}</li>
    {{/if}}

    {{#if name}}
    <li>Name: {{name}}</li>
    {{/if}}

    {{#if features}}
    <li>Features:</li>
    <ul>
        {{#each features}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{/if}}
</ul>