<div class="row">
    <div class="col-4 mt-4">
        <div>{{number}}</div>
        <b>{{status}}</b>
    </div>

    {{#with amount}}
    <div class="col-2 mt-4">
        <div>{{title}}</div>
        <b>{{value}}</b>
    </div>
    {{/with}}

    <div class="col-4">
        {{#each images}}
        <img src={{this}} alt="">
        {{/each}}
    </div>

    {{#with button}}
    <div class="col-2 mt-4">
        <a href={{link}} {{#if isPrimary}} class="btn btn-primary" {{/if}}>{{text}}</a>
    </div>
    {{/with}}
</div>
<hr>