<!DOCTYPE html>
<html>

<head>
    <title>
        {{page.title}}
    </title>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />
</head>

<body>
    {{#with header}}
    <header>
        <div>
            <h1>{{name.firstname}} {{name.lastname}} </h1>
        </div>
        <div>
            <b>{{position}}</b>
        </div>
        <br>
        <div>
            <em>
                Очікуванний рівень з/п: {{salary}}
            </em>
        </div>
        <br>
        <div>
            <address>
                {{adress}}
            </address>
        </div>
        <br>
        <hr>

    </header>
    {{/with}}

    {{> nav}}

    {{{body}}}

    <br>
    <hr>

    {{> footer}}
</body>

</html>